<?xml version="1.0" encoding="utf-8"?>
<!-- versionCode e versionName são preenchidos por tools/build-apk.sh a partir do package.json -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.lucassscassol.vardren"
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34" />

    <!-- O jogo não baixa nada; a WebView pede esta permissão para servir a origem https local do app -->
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true"
        android:largeScreens="true" android:xlargeScreens="true" android:resizeable="true" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Vardren"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboard|keyboardHidden|navigation|uiMode|fontScale|locale|layoutDirection"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
